In [ ]:
import pandas as pd
import plotly
import numpy as np
#from dash import Dash, html
import plotly.express as px
import plotly.graph_objs as go
from datetime import datetime

In [ ]:
df = pd.read_csv('charity_data.csv')

In [ ]:
df = pd.DataFrame(df[df['Operates_in_VIC'] == 'Y']).reset_index()

In [ ]:
df=df.drop(columns = ['index','Operates_in_ACT','Operates_in_NSW','Operates_in_NT','Operates_in_QLD','Operates_in_SA','Operates_in_TAS','Operates_in_WA','Operating_Countries'],axis=1)

In [ ]:
df=df.drop(columns = ['PBI','Preventing_or_relieving_suffering_of_animals','Advancing_Culture','Promote_or_oppose_a_change_to_law__government_poll_or_prac','Advancing_natual_environment','Advancing_security_or_safety_of_Australia_or_Australian_public'],axis=1)

In [ ]:
df.columns

Index(['ABN', 'Charity_Legal_Name', 'Address_Type', 'Address_Line_1',
       'Town_City', 'State', 'Postcode', 'Country', 'Charity_Website',
       'Registration_Date', 'Date_Organisation_Established', 'Charity_Size',
       'Number_of_Responsible_Persons', 'Financial_Year_End',
       'Operates_in_VIC', 'HPC', 'Advancing_Education', 'Advancing_Health',
       'Promoting_or_protecting_human_rights',
       'Purposes_beneficial_to_ther_general_public_and_other_analogous',
       'Promoting_reconciliation__mutual_respect_and_tolerance',
       'Advancing_Religion', 'Advancing_social_or_public_welfare',
       'Aboriginal_or_TSI', 'Adults', 'Aged_Persons', 'Children',
       'Communities_Overseas', 'Early_Childhood', 'Ethnic_Groups', 'Families',
       'Females', 'Financially_Disadvantaged', 'Gay_Lesbian_Bisexual',
       'General_Community_in_Australia', 'Males',
       'Migrants_Refugees_or_Asylum_Seekers', 'Other_Beneficiaries',
       'Other_Charities', 'People_at_risk_of_homelessness',
       'People_with_Chronic_Illness', 'People_with_Disabilities',
       'Pre_Post_Release_Offenders', 'Rural_Regional_Remote_Communities',
       'Unemployed_Person', 'Veterans_or_their_families', 'Victims_of_crime',
       'Victims_of_Disasters', 'Youth'],
      dtype='object')

In [ ]:
df=df.drop(['Other_Organisation_Names', 'Address_Line_2', 'Address_Line_3'],axis=1)

In [ ]:
df

,ABN,Charity_Legal_Name,Address_Type,Address_Line_1,Town_City,State,Postcode,Country,Charity_Website,Registration_Date,...,People_at_risk_of_homelessness,People_with_Chronic_Illness,People_with_Disabilities,Pre_Post_Release_Offenders,Rural_Regional_Remote_Communities,Unemployed_Person,Veterans_or_their_families,Victims_of_crime,Victims_of_Disasters,Youth
0,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
1,11004857827,Austin Medical Research Foundation,Business,Austin & Repat Medical Centre,Heidelberg,Victoria,3084,Australia,http://www.austinmrf.org.au,03/12/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11005151771,Braemar College Limited,Business,1499 MOUNT MACEDON ROAD,WOODEND,VIC,3442,Australia,www.braemar.vic.edu.au,03/12/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
3,11005583960,Odyssey House Victoria,Business,660 Bridge Rd,Richmond,Victoria,3121,Australia,www.odyssey.org.au/,03/12/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11007434362,Alphington Grammar School,Business,18 Old Heidelberg Road,ALPHINGTON,VIC,3078,Australia,www.alphington.vic.edu.au,03/03/2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13576,99916565268,Uca - Emmanuel Anglican And Uniting Church Wes...,Business,NaN,NaN,NaN,NaN,Australia,www.emmanuel.unitingchurch.org.au,03/12/2012,...,Y,NaN,NaN,NaN,Y,Y,NaN,NaN,NaN,Y
13577,99943708255,The Trustee For Forrest Cl Trust,Business,GPO Box 2307,Melbourne,VIC,3001,AUSTRALIA,NaN,03/12/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13578,99959016974,BUNURONG SCHOOL CO-OPERATIVE LIMITED,Business,195 Old Boiler Rd,Cape Paterson,Victoria,3995,Australia,NaN,03/12/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13579,99965368924,The Trustee For The Pierce Armstrong Foundation,Business,L 1 1268-1270 High St,Armadale,Victoria,3143,Australia,https://piercearmstrong.org.au/,03/12/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13580,99979582216,St Aidan's Anglican Church Parkdale,Business,64 Robert St,Parkdale,Victoria,3195,Australia,sap.org.au,03/12/2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv('charity_v2.csv')

In [ ]:
unuse = df.iloc[:,1:19]
unusels= unuse.columns
charity_type= df.drop(unusels,axis=1)

In [ ]:
charity_type

,ABN,Advancing_Education,Advancing_Health,Promoting_or_protecting_human_rights,Purposes_beneficial_to_ther_general_public_and_other_analogous,Promoting_reconciliation__mutual_respect_and_tolerance,Advancing_Religion,Advancing_social_or_public_welfare,Aboriginal_or_TSI,Adults,...,People_at_risk_of_homelessness,People_with_Chronic_Illness,People_with_Disabilities,Pre_Post_Release_Offenders,Rural_Regional_Remote_Communities,Unemployed_Person,Veterans_or_their_families,Victims_of_crime,Victims_of_Disasters,Youth
0,11003429338,Y,NaN,NaN,Y,NaN,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
1,11004857827,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11005151771,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
3,11005583960,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11007434362,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13576,99916565268,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,Y,...,Y,NaN,NaN,NaN,Y,Y,NaN,NaN,NaN,Y
13577,99943708255,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13578,99959016974,Y,Y,NaN,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13579,99965368924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13580,99979582216,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
charity_list = list(charity_type.columns)

In [ ]:
longcharity = pd.melt(charity_type, id_vars= 'ABN', value_vars =charity_list)
longcharity.head()

           ABN             variable value
0  11003429338  Advancing_Education     Y
1  11004857827  Advancing_Education   NaN
2  11005151771  Advancing_Education     Y
3  11005583960  Advancing_Education   NaN
4  11007434362  Advancing_Education     Y

In [ ]:
longcharity = longcharity.dropna()

In [ ]:
longcharity[longcharity['ABN'] == 11003429338]

                ABN                                           variable value
0       11003429338                                Advancing_Education     Y
40743   11003429338  Purposes_beneficial_to_ther_general_public_and...     Y
67905   11003429338                                 Advancing_Religion     Y
108648  11003429338                                             Adults     Y
122229  11003429338                                       Aged_Persons     Y
135810  11003429338                                           Children     Y
434592  11003429338                                              Youth     Y

In [ ]:
df=df.iloc[:,0:14]

In [ ]:
df.merge(longcharity, on = 'ABN', how = 'left')

,ABN,Charity_Legal_Name,Address_Type,Address_Line_1,Town_City,State,Postcode,Country,Charity_Website,Registration_Date,Date_Organisation_Established,Charity_Size,Number_of_Responsible_Persons,Financial_Year_End,variable,value
0,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,29/12/1987,Small,9,31-Dec,Advancing_Education,Y
1,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,29/12/1987,Small,9,31-Dec,Purposes_beneficial_to_ther_general_public_and...,Y
2,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,29/12/1987,Small,9,31-Dec,Advancing_Religion,Y
3,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,29/12/1987,Small,9,31-Dec,Adults,Y
4,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,29/12/1987,Small,9,31-Dec,Aged_Persons,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88654,99979582216,St Aidan's Anglican Church Parkdale,Business,64 Robert St,Parkdale,Victoria,3195,Australia,sap.org.au,03/12/2012,01/01/1923,Small,3,30-Sep,Children,Y
88655,99979582216,St Aidan's Anglican Church Parkdale,Business,64 Robert St,Parkdale,Victoria,3195,Australia,sap.org.au,03/12/2012,01/01/1923,Small,3,30-Sep,Communities_Overseas,Y
88656,99979582216,St Aidan's Anglican Church Parkdale,Business,64 Robert St,Parkdale,Victoria,3195,Australia,sap.org.au,03/12/2012,01/01/1923,Small,3,30-Sep,Early_Childhood,Y
88657,99979582216,St Aidan's Anglican Church Parkdale,Business,64 Robert St,Parkdale,Victoria,3195,Australia,sap.org.au,03/12/2012,01/01/1923,Small,3,30-Sep,Families,Y
88658,99979582216,St Aidan's Anglican Church Parkdale,Business,64 Robert St,Parkdale,Victoria,3195,Australia,sap.org.au,03/12/2012,01/01/1923,Small,3,30-Sep,General_Community_in_Australia,Y

In [ ]:
df.head()

,ABN,Charity_Legal_Name,Address_Type,Address_Line_1,Town_City,State,Postcode,Country,Charity_Website,Registration_Date,Date_Organisation_Established,Charity_Size,Number_of_Responsible_Persons,Financial_Year_End
0,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,29/12/1987,Small,9,31-Dec
1,11004857827,Austin Medical Research Foundation,Business,Austin & Repat Medical Centre,Heidelberg,Victoria,3084,Australia,http://www.austinmrf.org.au,03/12/2012,01/01/1970,Medium,9,30-Jun
2,11005151771,Braemar College Limited,Business,1499 MOUNT MACEDON ROAD,WOODEND,VIC,3442,Australia,www.braemar.vic.edu.au,03/12/2012,01/01/1976,Large,10,31-Dec
3,11005583960,Odyssey House Victoria,Business,660 Bridge Rd,Richmond,Victoria,3121,Australia,www.odyssey.org.au/,03/12/2012,01/01/1979,Large,14,30-Jun
4,11007434362,Alphington Grammar School,Business,18 Old Heidelberg Road,ALPHINGTON,VIC,3078,Australia,www.alphington.vic.edu.au,03/03/2014,25/06/1990,Large,15,31-Dec

In [ ]:
df = df.replace({'State': 'VIC'},'Victoria')

In [ ]:
df = df.replace({'Country': 'AUSTRALIA'},'Australia')

In [ ]:
df.head()

,ABN,Charity_Legal_Name,Address_Type,Address_Line_1,Town_City,State,Postcode,Country,Charity_Website,Registration_Date,Date_Organisation_Established,Charity_Size,Number_of_Responsible_Persons,Financial_Year_End
0,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,29/12/1987,Small,9,31-Dec
1,11004857827,Austin Medical Research Foundation,Business,Austin & Repat Medical Centre,Heidelberg,Victoria,3084,Australia,http://www.austinmrf.org.au,03/12/2012,01/01/1970,Medium,9,30-Jun
2,11005151771,Braemar College Limited,Business,1499 MOUNT MACEDON ROAD,WOODEND,Victoria,3442,Australia,www.braemar.vic.edu.au,03/12/2012,01/01/1976,Large,10,31-Dec
3,11005583960,Odyssey House Victoria,Business,660 Bridge Rd,Richmond,Victoria,3121,Australia,www.odyssey.org.au/,03/12/2012,01/01/1979,Large,14,30-Jun
4,11007434362,Alphington Grammar School,Business,18 Old Heidelberg Road,ALPHINGTON,Victoria,3078,Australia,www.alphington.vic.edu.au,03/03/2014,25/06/1990,Large,15,31-Dec

In [ ]:
df = df[df['State']=='Victoria']

In [ ]:
df

,ABN,Charity_Legal_Name,Address_Type,Address_Line_1,Town_City,State,Postcode,Country,Charity_Website,Registration_Date,Date_Organisation_Established,Charity_Size,Number_of_Responsible_Persons,Financial_Year_End
0,11003429338,ISCAST LTD,Business,PO Box 40,Forest Hill,Victoria,3131,Australia,http://iscast.org,03/12/2012,29/12/1987,Small,9,31-Dec
1,11004857827,Austin Medical Research Foundation,Business,Austin & Repat Medical Centre,Heidelberg,Victoria,3084,Australia,http://www.austinmrf.org.au,03/12/2012,01/01/1970,Medium,9,30-Jun
2,11005151771,Braemar College Limited,Business,1499 MOUNT MACEDON ROAD,WOODEND,Victoria,3442,Australia,www.braemar.vic.edu.au,03/12/2012,01/01/1976,Large,10,31-Dec
3,11005583960,Odyssey House Victoria,Business,660 Bridge Rd,Richmond,Victoria,3121,Australia,www.odyssey.org.au/,03/12/2012,01/01/1979,Large,14,30-Jun
4,11007434362,Alphington Grammar School,Business,18 Old Heidelberg Road,ALPHINGTON,Victoria,3078,Australia,www.alphington.vic.edu.au,03/03/2014,25/06/1990,Large,15,31-Dec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,99910551693,Uca - Mernda Parish,Business,97 Schotters Rd,Mernda,Victoria,3754,Australia,NaN,03/12/2012,01/01/1977,Small,4,31-Dec
13577,99943708255,The Trustee For Forrest Cl Trust,Business,GPO Box 2307,Melbourne,Victoria,3001,Australia,NaN,03/12/2012,01/01/1914,Small,7,30-Jun
13578,99959016974,BUNURONG SCHOOL CO-OPERATIVE LIMITED,Business,195 Old Boiler Rd,Cape Paterson,Victoria,3995,Australia,NaN,03/12/2012,01/01/2002,Small,5,31-Dec
13579,99965368924,The Trustee For The Pierce Armstrong Foundation,Business,L 1 1268-1270 High St,Armadale,Victoria,3143,Australia,https://piercearmstrong.org.au/,03/12/2012,01/01/1983,Small,6,30-Jun
13580,99979582216,St Aidan's Anglican Church Parkdale,Business,64 Robert St,Parkdale,Victoria,3195,Australia,sap.org.au,03/12/2012,01/01/1923,Small,3,30-Sep

In [ ]:
df.to_csv('cleanedcharity.csv')